absl-py==1.3.0
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.2.0
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
comm==0.1.1
ConfigArgParse==1.5.3
contourpy==1.0.6
cycler==0.11.0
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.4
decorator==5.1.1
dill==0.3.6
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
ffmpeg==1.4
filelock==3.8.0
Flask==2.2.2
fonttools==4.38.0
freetype-py==2.3.0
frozenlist==1.3.3
gdown==4.5.4
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.14.1
google-auth-oauthlib==0.4.6
GPUtil==1.4.0
grpcio==1.50.0
hydra-core==1.2.0
idna==3.4
imageio==2.22.4
importlib-metadata==5.1.0
importlib-resources==5.10.0
ipykernel==6.18.2
ipython==8.7.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.1
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
-e git+https://github.com/facebookresearch/MidasTouch.git@244f3025e2d19418be58796b43e0680bb543e77a#egg=midastouch
MinkowskiEngine==0.5.4
multidict==6.0.2
nbformat==5.5.0
nest-asyncio==1.5.6
networkx==2.2
ninja==1.11.1
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.2.3
open3d==0.16.0
opencv-python==4.6.0.66
packaging==21.3
pandas==1.5.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkg_resources==0.0.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.4
plotly==5.11.0
pooch==1.6.0
potpourri3d==0.0.8
prompt-toolkit==3.0.33
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.11.1
pybullet==3.2.5
pycollada==0.6
pyglet==2.0.0
Pygments==2.13.0
pynanoflann @ git+https://github.com/u1234x1234/pynanoflann.git@aea45ba149dba7336c921c6d685ec14aca57deb2
PyOpenGL @ git+https://github.com/mmatl/pyopengl.git@76d1261adee2d3fd99b418e75b0416bb7d2865e6
pyparsing==3.0.9
pyquaternion==0.9.9
pyrender==0.1.45
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.6
pyvista==0.37.0
pyvistaqt==0.9.0
PyYAML==6.0
pyzmq==24.0.1
QtPy==2.3.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.3
scipy==1.9.3
scooby==0.7.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
stack-data==0.6.2
-e git+https://github.com/suddhu/tacto.git@ff447b99da8a69a332b1da90c08e97a5a1c832fe#egg=tacto
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
theseus==0.0.5
threadpoolctl==3.1.0
torch==1.12.0+cu113
torchaudio==0.12.0+cu113
torchvision==0.13.0+cu113
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
trimesh==3.16.4
typing_extensions==4.4.0
urdfpy==0.0.22
urllib3==1.26.13
vtk==9.2.2
wcwidth==0.2.5
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wslink==1.9.1
yarl==1.8.1
zipp==3.11.0
